.footer-banner {
  background-image: url(/src/assets/patterns/semi-circles.svg);
  background-color: var(--color-primary);
  background-repeat: repeat no-repeat;
  background-position: -71% 190px;
  padding: 88px 0;
}

.footer-banner-title {
  font-size: 32px;
  line-height: 32px;
  font-family: var(--font-primary);
  color: var(--color-light);
  text-align: center;
  margin-bottom: 40px;
}

.footer-banner-container {
  display: flex;
  justify-content: space-between;
}

.footer-banner-button {
  margin-right: 13px;
}
