.footer-banner {
  background-image: url(/src/assets/patterns/semi-circles.svg);
  background-color: var(--color-dark-gray);
  background-repeat: repeat no-repeat;
  background-position: -71% 190px;
  padding: 88px 0;
}

.footer-banner-title {
  font-size: 32px;
  line-height: 32px;
  font-family: var(--font-primary);
  color: var(--color-light);
  text-align: center;
  margin-bottom: 40px;
}

.footer-banner-container {
  display: flex;
  justify-content: space-between;
}

.footer-banner-button {
  margin-right: 13px;
}

.container {
  padding: 0 32px;
}

@media (min-width: 768px) {
  .footer-banner {
    padding: 63px 0;
    background-position: -160px 190px;
  }

  .footer-banner-container {
    justify-content: center;
  }

  .footer-banner-title {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -2px;
  }

  .container {
    padding: 0 155px;
  }
}
