.footer {
  background: var(--color-primary);
  padding: 64px 0 88px;
  text-align: center;
}

.footer-logo {
  margin-bottom: 41px;
}

.footer-logo-list a {
  color: var(--color-light);
  font-family: var(--font-primary);
  font-size: 15px;
  line-height: 25px;
  color: var(--color-description);
  text-decoration: none;
}

.footer-logo-list {
  margin-bottom: 1rem;
}

.footer-logo-list-container {
  margin-bottom: 85px;
}

.footer-socials img {
  margin-right: 24px;
}

.footer-socials img:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 36px 40px 36px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    display: flex;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-logo-list-container {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 60px;
  }
  .footer-logo-list {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
