/* Styles for mobile 0px to 768px */

.how-to-use {
  padding: 0 2rem;
  margin: 120px 0;
  text-align: center;
}

.how-to-use-section {
  margin-bottom: 48px;
}

.how-to-use-section:last-child {
  margin-bottom: 0;
}

.how-to-use-section img.icon {
  margin-bottom: 24px;
  width: 56px;
  height: 56px;
}

.how-to-use-section img.line {
  display: none;
}

.how-to-use-section h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  line-height: 28px;
  margin-bottom: 24px;
  font-size: 20px;
}

.how-to-use-section p {
  font-family: var(--font-secondary);
  color: var(--color-description);
  font-size: 15px;
}

@media (min-width: 768px) {
  .how-to-use-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 97px;
    margin-bottom: 74px;
  }

  .how-to-use-section img.icon {
    margin-right: 79px;
    width: 96px;
    height: 96px;
  }

  .how-to-use-section .content {
    width: 398px;
    text-align: left;
  }
  .how-to-use-section img.line {
    display: block;
    position: absolute;
    left: 43px;
    transform: rotate(90deg);
    top: -26px;
    z-index: -1;
  }
}
