/* Styles for mobile 0px to 768px */

.image-with-content {
  margin: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.image-with-content-thumbnail-container {
  margin-bottom: 56px;
  position: relative;
}

.image-with-content-thumbnail-container img.image-with-content-thumbnail {
  width: 311px;
  height: 311px;
  margin: 0 auto;
  border-radius: 50%;
}

.image-with-content-title {
  margin-bottom: 32px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  line-height: 32px;
  font-size: 2rem;
  text-align: center;
  padding: 0 32px;
}

.left-arrow-overlay {
  position: absolute;
  bottom: 0;
  left: -0.5rem;
}

.left-arrow-overlay.top {
  bottom: unset;
  top: 0;
  left: 6rem;
}

.right-arrow-overlay {
  position: absolute;
  right: 6rem;
}

.image-with-content-description {
  margin-bottom: 2rem;
  line-height: 25px;
  color: var(--color-description);
  font-family: var(--font-secondary);
  text-align: center;
  padding: 0 32px;
}

.image-with-content-button {
  font-family: var(--font-primary);
  background: var(--color-secondary);
  color: var(--color-light);
  width: 180px;
  padding: 14px 0;
  font-size: 15px;
  line-height: 25px;
  border: unset;
  outline: unset;
  cursor: pointer;
}
