/* Styles for mobile 0px to 768px */

.navbar-container {
  position: sticky;
  top: 0;
  padding: 22px 0;
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.navbar-toggler {
  position: absolute;
  left: 32px;
  bottom: 2px;
  height: 16px;
}

.navbar-toggler img {
  width: 20px;
  height: 16px;
}

.navbar-toggler span:last-child {
  margin-bottom: 0;
}
