@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

:root {
  --color-primary: #333a44;
  --color-secondary: #fcb72b;
  --color-dark-gray: #495567;
  --font-primary: "Space Mono", monospace;
  --font-secondary: "Lexend Deca", sans-serif;
  --color-light: #fff;
  --color-light-text: #e5ecf4;
  --color-description: #939caa;
}

.container {
  padding: 0 32px;
}

svg {
  font-family: var(--font-primary);
}
